/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Baloo Tammudu 2', cursive;
    color: #262823;
}
.navbar {
    padding: .8rem;
}
.navbar-nav li {
    padding-top: .7rem;
    padding-right: 20px;
}
.nav-link {
    font-size: 22px !important;
}
.carousel-inner img {
    height: 350px;
}
.direct {
    background-image: url(../img/banner/banner0.jpg);
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
}
.direct > div {
    background-color: rgba(0,0,0,0.75);
    padding: 30 px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}
.direct > div h4 {
    font-size: 300%;
    text-shadow: 1px 1px 10px #000;
}
.direct > div p {
    font-size: 150%;
    text-shadow: 1px 1px 10px #000;
}
.btn {
    margin: 10px; 
    padding: 14px;
    font-size: 26px;
    padding-bottom: 0;
}
.btn-primary {
    background-color: grey;
    border: 1px solid grey;
}
.btn-primary:hover {
    background-color: rgba(128, 128, 128, 0.425);
    border: 1px solid rgba(128, 128, 128, 0.5);
}
.welcome h1 {
    padding-top: 100px;
}
.welcome h4 {
    padding-top: 0;
    padding-bottom: 40px;
}
.social a {
    font-size: 4em;
    padding: 3rem;
    color: white;
}
.fa-youtube:hover, 
.fa-instagram:hover, 
.fa-twitter:hover, 
.fa-facebook:hover, 
.fa-google-plus-g:hover {
    color: #d5d5d5;
}
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a {
    color: #d5d5d5;
    font-size: 115%;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
#logo_a {
    font-size: 150%;
    color: #d5d5d5;
} */

/*---Media Queries --*/
@media (max-width: 992px) {
    .social a {
      font-size: 4em;
      padding: 2rem;
    }
}
@media (max-width: 768px) {
    .social a {
      font-size: 2.5em;
      padding: 1.2rem;
    }
}
@media (max-width: 576px) {
    .social a {
      font-size: 2em;
      padding: 1.7rem;
    }
}