* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Baloo Tammudu 2', cursive;
    color: #262823;
}
body {
    background: url(../img/wallpaper.jpg);
    background-size: cover;
}
.navbar {
    padding: .8rem;
}
.navbar-nav li {
    padding-top: .7rem;
    padding-right: 20px;
}
.nav-link {
    font-size: 22px !important;
}
.main-section {
    margin: 0 auto;
    padding: 0;
    padding-top: 150px;
}
.modal-content {
    background-color: #3f3f3f;
    opacity: .95;
    padding: 0 18px;
    box-shadow: 0 0 3px #848484;
}
.modal-content h2 {
    padding-top: 20px;
    text-align: left;
    font-size: 250%;
    color: white;
}
.modal-content p {
    color: #d5d5d5;
}
.forgot {
    padding-top: 30px;
    text-align: right;
    font-size: 110%;
}
.forgot a {
    color: #d5d5d5;
}
.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
}
.user-img img {
    border-radius: 15px;
    padding: 5px;
    background: #d6d1d1d8;
    box-shadow: 0 0 2px #d6d1d1d8;
}
.modal-content hr {
    margin-top: -30px;
}
.form-group {
    padding-top: 10px;
}
.form-group input {
    height: 50px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    padding-left: 54px;
    padding-top: 15px;
}
#email::before  {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0e0";
    position: absolute;
    font-size: 22px;
    color: #555e60;
    left: 28px;
    padding-top: 7px;
}
#userid input {
    margin-top: -10px;
}
#userid::before  {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f007";
    position: absolute;
    font-size: 22px;
    color: #555e60;
    left: 28px;
    padding-top: 7px;
    margin-top: -10px;
}
#tel select {
    height: 50px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
}
#contact input {
    padding-left: 15px;
}
#password::before  {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f09c";
    position: absolute;
    font-size: 22px;
    color: #555e60;
    left: 28px;
    padding-top: 7px;
}
#re-password input {
    margin-top: -10px;
}
#re-password::before  {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f09c";
    position: absolute;
    font-size: 22px;
    color: #555e60;
    left: 28px;
    padding-top: 7px;
    margin-top: -10px;
}
.checkbox {
    text-align: left;
    font-size: 110%;
    color: #d5d5d5;
    margin-left: -10px;
    margin-bottom: 30px;
}
button {
    width: 40%;
    margin: 5px 0 25px;
}
.btn {
    background-color: #27c2a5;
    color: #fff;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-radius: 5px;
    border-bottom: 4px solid #219882;
}
.btn:hover, .btn:focus {
    background-color: #25a890 !important;
    border-bottom: 4px solid #25a890 !important;
}
.social a {
    font-size: 4em;
    padding: 3rem;
    color: white;
}
.fa-youtube:hover, 
.fa-instagram:hover, 
.fa-twitter:hover, 
.fa-facebook:hover, 
.fa-google-plus-g:hover {
    color: #d5d5d5;
}
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a {
    color: #d5d5d5;
    font-size: 115%;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
    .social a {
      font-size: 4em;
      padding: 2rem;
    }
}
@media (max-width: 768px) {
    .social a {
      font-size: 2.5em;
      padding: 1.2rem;
    }
}
@media (max-width: 576px) {
    .social a {
      font-size: 2em;
      padding: 1.7rem;
    }
}