$default-background: #f8f9fa;

.navbar {
    padding: .6rem;
    .navbar-nav {
        > li {
            padding-top: 0rem;
            padding-right: 20px;
        }
    }
    .nav-link {
        font-size: 18px;
    }
}

.navbar-right{
    position: absolute;
    right:0;
    
}
#notification-number{
    font-family: Roboto, sans-serif;
    position: absolute;
    top: 4px;
    right: 0;
    color: $default-background;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 18px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    left: 17px;
    padding-top: 0.5px;
    display: none;
    
}
div{
    a.account-list{
        i{
        padding-right:5px
        }
    }

    
}