@import "_admin_nav.scss";
@import "_footer.scss";

div#alert-box{
    position: fixed;
    top:0;
    left:50%;
    display: none;
    transform: translate(-50%, 0);

}

div{
    a.account-list{
        i{
        padding-right:5px
        }
    }
}

#notification-number{
    font-family: Roboto, sans-serif;
    position: absolute;
    top: 4px;
    right: 0;
    color: white;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 18px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    left: 17px;
    padding-top: 0.5px;
    display:none;
    
}