@import "_admin_nav.scss";
@import "_footer.scss";

$shadowcolor : #848484;

div#maincontent{
    position: relative;
    padding: 0 0;
}

div#alert-box{
    position: absolute;
    top:0;
    left:50%;
    display: none;
    transform: translate(-50%, 0);
    z-index: 1000;
    

}

#welcome-banner{
    display: block;
    width: 100%;
    position: relative;
    background-image: url(../img/banner/banner4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 34vh;
    z-index: 9;
    

    ::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top:0;
        left: 0;
        display: block;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.65) 20%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 95%);
        z-index: -1;
    }

    #welcome-word{
        font-weight: 450;
    }
}





.detail-box {
    .box {
        background: #fff;
        border-radius: 10px;
        padding: 40px 10px;
        margin: 20px 0px;
        // cursor: pointer;
        transition: all 0.5s ease-out;
        box-shadow: 0 0 6px $shadowcolor;
        
      .box-text {
        margin: 20px 0px 0px;
        font-size: 15px;
        line-height: 30px;
      }

      .box-btn a {
        text-decoration: none;
        color: #4183d7;
        font-size: 16px;
      }
    }

    i{
        font-size: 50px;
        padding-bottom: 30px;
    }

  }
  
  
  .ordercount{
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.5;
  }