@import "_admin_nav.scss";
@import "_footer.scss";

div#maincontent{
    position: relative;
    padding: 0 0;
}



#welcome-banner{
    display: block;
    width: 100%;
    position: relative;
    background-image: url(../img/banner/banner4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 34vh;
    z-index: 9;
    

    ::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top:0;
        left: 0;
        display: block;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.65) 20%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 95%);
        z-index: -1;
    }

    #welcome-word{
        font-weight: 450;
    }
}

table.showorder{
    border: 1px solid #ccc;
}

.orderrow{
    cursor: pointer;
}