@import "_cus_nav.scss";

$primaryColor: grey;
$mainWhite: #fff;
$mainBlack: #222;
$mainGrey: #ececec;
$mainSpacing: 0.1rem;
$mainTransition: all 0.3s linear;

%hr-line {
    border-top: 1px solid #d5d5d5;
    width: 100%;
}

%alert-box {
    position: absolute;
    display: none;
    transform: translate(-50%, 0);
    z-index: 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: $mainBlack;
    background: $mainWhite;
    font-family: 'Baloo Tammudu 2', cursive;
    color: #262823;
}



#main-content {
    position: relative;
    padding: 0;
    #alert-box {
        > div {
            @extend %alert-box;
            top:0;
            left:50%;
            width: 40em;
            text-align: center;
            padding-top: 22px;
        }
        
    }
}


.search {
    width: 30%;
    padding-left: 30px;
}

.carousel-inner {
    img {
        height: 350px;
    }
}

.directory {
    padding: 20px 0;
    height: 60px;
    align-items: center;
    > div {
        width: 100%;
        
        align-items: center;
        > h2 {
            position: absolute;
            font-size: 200%;
            display: block;
            padding-left: 50px;
        }
        > ul {
            align-items: center;
            margin: 0 auto;
            > li {
                
                text-align: center;
                padding: 10px;
                > a {
                    color: black;
                }
                > a:hover {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.582);
                }
            }
        }
    }
}

hr {
    @extend %hr-line;
    margin: 0 auto;
    width: 90%;
} 

.products {
    padding: 0 50px;
    > .section-title {
        align-content: center;
        > h2 {
            font-size: 250%;
            font-weight: 600;
            line-height: 35px;
        }
    } 
}

#card {
    > div {
        padding: 10px 20px;
        > form {
            > div {
                width: 100%;
                > div {
                    padding: 0;
                    > h6 {
                        padding: 2px 8px;
                        text-align: left;
                        margin-bottom: 0;
                        font-weight: 900;
                    }
                    > div {
                        margin-left: 0;
                        margin-right: -50px;
                        > p {
                            padding: 2px 8px;
                            text-align: left;
                            font-size: 75%;
                        }
                        > button {
                            background: white;
                            > i {
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}