.navbar {
  padding: .6rem;
}

.navbar .navbar-nav > li {
  padding-top: 0rem;
  padding-right: 20px;
}

.navbar .nav-link {
  font-size: 18px;
}

.navbar-right {
  position: absolute;
  right: 0;
}

footer hr {
  border-top: 1px solid #d5d5d5;
  width: 100%;
}

.social > a {
  font-size: 3.5em;
  padding: 3rem;
}

.social > a > i {
  color: #ffffff;
}

.social > a > i:hover {
  color: #d5d5d5;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

footer a {
  color: #d5d5d5;
  font-size: 1.15;
}

footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

footer #logo_a {
  font-size: 1.5;
  color: #d5d5d5;
  font-size: 130%;
  line-height: 52px;
}

div#maincontent {
  position: relative;
  padding: 0 0;
}

div#alert-box {
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1000;
}

#welcome-banner {
  display: block;
  width: 100%;
  position: relative;
  background-image: url(../img/banner/banner4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 34vh;
  z-index: 9;
}

#welcome-banner ::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(255, 255, 255, 0.65)), color-stop(60%, rgba(255, 255, 255, 0.1)), color-stop(95%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.65) 20%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 95%);
  z-index: -1;
}

#welcome-banner #welcome-word {
  font-weight: 450;
}

div a.account-list i {
  padding-right: 5px;
}

#notification-number {
  font-family: Roboto, sans-serif;
  position: absolute;
  top: 4px;
  right: 0;
  color: #f8f9fa;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 18px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  left: 17px;
  padding-top: 0.5px;
  display: none;
}

.detail-box .box {
  background: #fff;
  border-radius: 10px;
  padding: 40px 10px;
  margin: 20px 0px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: 0 0 6px #4183d7;
          box-shadow: 0 0 6px #4183d7;
}

.detail-box .box .box-text {
  margin: 20px 0px;
  font-size: 15px;
  line-height: 30px;
}

.detail-box .box .box-btn a {
  text-decoration: none;
  color: #4183d7;
  font-size: 16px;
}

.fa {
  color: #4183d7;
}
