footer hr, hr {
  border-top: 1px solid #d5d5d5;
  width: 100%;
}

.social > a {
  font-size: 3.5em;
  padding: 3rem;
}

.social > a > i {
  color: #ffffff;
}

.social > a > i:hover {
  color: #d5d5d5;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

footer a {
  color: #d5d5d5;
  font-size: 1.15;
}

footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

footer #logo_a {
  font-size: 1.5;
  color: #d5d5d5;
  font-size: 130%;
  line-height: 52px;
}

footer hr, hr {
  border-top: 1px solid #d5d5d5;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  color: #222;
  background: #fff;
  font-family: 'Baloo Tammudu 2', cursive;
  color: #262823;
}

.navbar {
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > div span {
  cursor: pointer;
  font-size: 1.5rem;
}

.navbar > div div .nav-nav {
  position: absolute;
  top: .5rem;
  right: 4rem;
}

.navbar > div div .cart-btn {
  cursor: pointer;
  position: absolute;
}

.navbar > div div .cart-btn > span {
  position: absolute;
  top: -1rem;
  right: 0.8rem;
}

.navbar > div div .cart-btn > div {
  position: absolute;
  font-size: 12px;
  top: -1.2rem;
  right: 0.6rem;
  padding: 0 3px;
  background: white;
  border-radius: 30%;
}

.search {
  width: 30%;
  padding-left: 30px;
}

.carousel-inner img {
  height: 350px;
}

.directory {
  padding: 20px 0;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.directory > div {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.directory > div > h2 {
  position: absolute;
  font-size: 200%;
  display: block;
  padding-left: 50px;
}

.directory > div > ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.directory > div > ul > li {
  text-align: center;
  padding: 10px;
}

.directory > div > ul > li > a {
  color: black;
}

.directory > div > ul > li > a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.582);
}

hr {
  margin: 0 auto;
  width: 90%;
}

.products {
  padding: 0 50px;
}

.products > .section-title > h2 {
  font-size: 250%;
  font-weight: 750;
  padding-bottom: 20px;
}

#card > div {
  padding: 10px 20px;
}

#card > div > div {
  width: 100%;
}

#card > div > div > div {
  padding: 0;
}

#card > div > div > div > h6 {
  padding: 2px 8px;
  text-align: left;
  margin-bottom: 0;
  font-weight: 900;
}

#card > div > div > div > div {
  margin-left: 0;
  margin-right: -50px;
}

#card > div > div > div > div > p {
  padding: 2px 8px;
  text-align: left;
  font-size: 75%;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(63, 56, 50, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart-overlay > div {
  position: fixed;
  top: 60px;
  right: 0;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: #e7e2dd;
  padding: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.cart-overlay > div > span .close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: white;
  cursor: pointer;
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
